
.navbar {
    
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 80px;

}
 
.dark-nav{
   
    background-color: rgba(32, 32, 32, 0.419);
    backdrop-filter: blur(10px); 
    transition: 0.5s;
}

.navbar .title { 
    font-size: 20px;
    font-weight: 700;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.navbar ul li{
    padding: 0;
    margin: 0;
    font-weight: 500;
}